html{
  font-size: 62.5%;
}

nav{
  text-align: center;
}

h1{
  font-size: 2rem;
}
p{
  font-size: 1.6rem;
}

ul{
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

li{
  padding:3%;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
}
footer{
  border-top: 1px solid black;
  height:60px;
  width:100%;
  position: absolute;
  bottom: 0;
}

nav a{
  color: black;
}
.first-nav{
  border-top: 1px solid black;
}

.icon{
  width:20px;
}
.container-fluid{

}
.project{
  display: inline-block;
}
.title{
  padding: 4%;
}
.proj-pic{
  width:100%;
}
.title{
  padding-left: 5%;
}
.project-desc{
  padding: 3% 5%;
}
#menu{
  text-align: right;
  padding: 3% 4%;
}
