html{
  font-size: 62.5%;
}


nav{
  text-align: center;
}

h1{
  font-size: 2.5rem;
  font-weight: 200;
}
h2{
  font-weight: 100;
  font-size: 1.6rem;
}
p{
  font-size: 1.3rem;
}

nav ul{
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

nav ul li{
  padding:15px;;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
}
section{
  text-align: center;
}
footer{
  border-top: 1px solid black;
  height:80px;
  width:100%;
  position: fixed;
  padding: 2% 5%;
  bottom: 0;
  left:0;
  background-color: white;
}

nav a{
  transition: color 0.5s ease;
  color: black;
}
nav a:hover{
  color:red;
  text-decoration: none;
}
.row{
  padding: 15px;
}
.first-nav{
  border-top: 1px solid black;
}





.current-page{
  font-weight: bold;
  text-decoration: line-through;
}
.project{
  display: inline-block;
}
div .title{
  padding-top: 4%;
  padding-bottom: 4%;
  /* padding-left: 0; */
}
.proj-pic{
  width:80%;
}
.title{
  padding-left: 5%;
}
.project-desc{
  padding: 3% 5%;
}
.social-icon{
  width: 20px;
  margin: 1%;
}
div .footer-content{
  display: inline-block;
}
/* About page */

#about{
  text-align: left;
  margin-left: 40px;
  /* text-align: left; */

}
.about-pic{
  width: 90%;
}

.project{
  display: inline-block;
}
#menu{
  /* text-align: right; */
  padding: 24px 18px;
}
<<<<<<< HEAD
#menu-button{
  width:20px;
  float: right;
  margin-top: 10px;
}
#logo{
  width:50px;
  margin-left: 46.5%;
  vertical-align:middle;
}
=======

/* #litebox:hover{
  background: url('img/litebox-hover.png')
} */
>>>>>>> refs/remotes/origin/master
