@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
html{
  font-size: 62.5%;
}

#about > p::first-letter {
    font-size: 200%;
    /* color: #8A2BE2; */
}


p{
  font-family: "EB Garamond","Times New Roman", Times, serif;
  font-size: 1.5rem;
  line-height: 25px;
}

nav{
  text-align: center;
}

h1{
  font-size: 2.5rem;
  font-weight: 200;
}
h2{
  font-weight: 100;
  font-size: 1.6rem;
}

nav ul{
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

nav li{
  padding:15px;;
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  transition: background-color 0.2s ease;
}
.resume{
  padding-left: 40px;
  text-align: left;
}
#resume-pic{
  border:1px solid black;
  border-radius: 4px;
  width:50%;
  padding-left: 20px;
}

nav li:hover{
  background-color: black;
  color:white;
  font-weight: 600;
}

nav ul li.current-page:before{
  content: "\27A4  ";
  color: black;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
section{
  text-align: center;
  height:auto;
  overflow-y: scroll;
}
footer{
  text-align: center;
  border-top: 1px solid black;
  height:auto;
  width:100%;
  position: relative;
  padding: 20px 5%;
  bottom: 0;
  left:0;
  background: url('https://i.pinimg.com/originals/ab/8c/e7/ab8ce77e3791f05c1668b1205d7e5538.jpg')
  /* background-color: black; */
}

nav a{
  transition: color 0.5s ease;
  color: black;
}
nav a:hover{
  text-decoration: none;
}
.row{
  padding: 15px;
}
.first-nav{
  border-top: 1px solid black;
}





.current-page{
  font-weight: 800;
  /* text-decoration: line-through; */
}

.project{
  display: inline-block;
}

div .title{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 38px;
}
.proj-pic{
  width:80%;
}
.title{
  padding-left: 5%;
}
.project-desc{
  padding: 3% 5%;
}
.social-icon{
  text-align: center;
  /* width: 20px; */
  /* margin: 1%; */
}
div .footer-content{
  /* display: inline-block; */
}
/* About page */

#about{
  tex
  t-align: left;
  margin-left: 40px;
  /* text-align: left; */

}


.project{
  display: inline-block;
}
#menu{
  /* text-align: right; */
  padding: 24px 18px;
}

#menu-button{
  width:20px;
  float: right;
  margin-top: 10px;
}
#logo{
  width:50px;
  margin-left: 46.5%;
  vertical-align:middle;
}

.gallery{
  text-align: center;
  padding: 20px;
  height: 100%;
}

/* #litebox:hover{
  background: url('img/litebox-hover.png')
} */
.photo-box{

}
.project-description{
  border-bottom: rgb(231, 231, 231) solid 1px;
  border-left: rgb(231, 231, 231) solid 1px;
  border-right: rgb(231, 231, 231) solid 1px;
  font-weight: 300;
  font-size: 1.2rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding:10px;
}
.project-type{
  font-size: 1rem;
}
.project-type >p{
  font-size: 1.4rem;
  font-weight: 600;
}
.project-type >p>i{
  font-size: 1rem;
}

.gallery-pic{
  width:100%;
  height: auto;
}

.gallery-unit{
  margin: 12px;
}

.space{
  height:100px;
}

/* button .contact{
  display: inline-block;
  margin-right: 10px;
} */

.btn-outline-primary{
  color:white;
  /* float:right; */
  border-color:white;
  margin:10px 0;
}

.btn-outline-primary:hover{
  color: white;
  background-color: black;
  border-color: black;
}

footer > p{
  position: relative;
  font-size:1.4rem;
  /* bottom: -50px; */
  color:white;
  /* display: inline-block; */
}

.fab{
  color:white;
  font-size: 1.6rem;
  margin: 10px;
}
.card{
  height: auto;
}

#about{
  text-align: left;
}
.about-pic{
  display: inline-block;
  border-radius: 4px;
  width:50%;
}



#about > p{
  margin: 40px 0;
  display: inline-block;
  width:60%;
}

nav > ul > li{
  font-size:1.4rem;
  font-family: "Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  /* text-transform: uppercase; */
}
