@media screen and (min-width: 650px){

  nav ul li{
    display: inline-block;
    padding:15px;;
    border-top: none;

    border-bottom: none;
  }
  nav{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .first-nav{
    border-top: none;
  }
  #menu-button{
    display: none;
  }
  .about-pic{
    width: 70%;
  }
}



@media screen and (min-width: 1000px){
  section{
    /* background-color: yellow; */
  }
  aside{
    display: inline-block;
    width: 225px;
    height:700px;
    /* background-color: red; */
  }
  nav ul li{
    display: block;
  }
  ul{
    margin-top:150px;
  }
  #c{
    position: fixed;
    top:0;
    display: inline-block;
    margin-left: 10px;

  }
  footer{
    width:225px;
    border-top: none;
    float: left;
    height:auto;
    padding: 20px;
    text-align: center;
  }

}
  /* nav ul li{
    display: inline-block;
    padding:15px;;
    border-top: none;
    border-bottom: none;
  }
  nav{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .first-nav{
    border-top: none;
  }
  #menu{
    display: none;
  } */
  /* aside{
    display: none;
    background-color: red;
    width: 200px;
    float:left;
    height: 100%;
  }
