body{

}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  padding: 25px 50px;
  margin: 25px 0px;

}

.header{
  background-color: yellow;
  /* width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden; */
}

.footer{
  background-color: purple;
}

.element{
  background-color: grey;
  margin: 25px 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: purple;
  color: white;
  text-align: center;
}

#item1{
  background-color: yellow;
  /* width: 100px; */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}


@media only screen and (min-width: 600px) and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }
  .content{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightgrey;
  }
  .content{
    grid-template-columns: 1fr;
  }
}
