body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  overflow: hidden;
}

:root {
  --nav-size: 200px;
}

/* Font Style */
h1 {
  font-size: 32px;
  font-weight: 200;
}

h2 {
  font-weight: 300;
}

h3 {
  font-size: 22px;
  font-weight: 200;
}

h6 {
  font-weight: 600;
  text-transform: uppercase;
}


.main {
  margin: var(--nav-size);
}

#inside {}

.welcome {
}

.content {
  margin-top: 10rem;
}

.nav{
  display: block;
  margin: 2rem 0;
  text-align: right;
}
/* 
.nav-link{
  margin: 0 1rem;
} */

.header {

}

.element {
  /* background-color: grey; */
  /* margin: 25px 0px; */
}
