
body{
  background: url('../images/tic-tac-toe.png');
}

img{
  height: 300px;
  width : 100%;

}
#center{
  text-align: center;
}
.pic{
  display: inline-block;
  width:38%;
  margin:0;
  text-align: center;
  border:solid blue 5px;
  padding: 5%;
}
